*{
    padding: 0;
    margin: 0;
    color: white;
}
    
header,section,footer{
    width: 960px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 100px;
    text-align: center;
    padding-top: 50px;
    
}
.titulo{
    text-decoration: underline;
    text-align: center;
    color:  red;
}
#principal{
    height: auto;
    
    text-align: center;
    
}
#principal img{
    width: 100%;
    padding: 50px, 10px

}

#informacion{
    height: 300px;
    
}
#informacion h1{
    text-align: center;
    color: aqua;
}
#informacion p{
    padding: 5px;
    font-size: 15px;
}
footer{
    height: 150px;
    text-align: center;
    font-weight: bold;
}
footer a{

    color: black;
    text-decoration: none;
}

footer a:hover{

    color: coral;
    font-size: 25px;
}